$color_bg: #706fd3;
$color_widget: rgba(0, 0, 0, 0.7);

$color_eerie: #212121;
$color_jet: #323232;
$color_turquoise: #48DAC3;
$color_aero: #60B5E7;
$color_lavender: #BB86FC;
$color_bitter: #FF6667;
$color_mint: #A4EDE1;
$color_uranian: #B0DAF3;
$color_mauve: #DDC3FE;
$color_pinkish: #FFB3B3;
$color_cornflower: #243B6D;
$color_violet: #492D6A;

@mixin text-color($size) {
	font-family: Helvetica, Arial, sans-serif;
	font-style: bold;
	font-size: $size;
	text-transform: uppercase;

	background: linear-gradient(
		90deg,
		$color_mauve 20.83%,
		$color_uranian 49.94%,
		$color_mint 80.3%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


@mixin generate-button($padding: 16px) {
	display: inline-block;
	height: 40px;
	padding: 0 $padding;
	border-radius: 30px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: white;

	color: $color_aero;
	text-decoration: none;
	font-size: .9rem;
	font-weight: bold;
	line-height: 40px;

	&:hover {
		background-color: $color_aero;
		color: #fff;
	}

	&:active {
		background-color: $color_jet;
		box-shadow: 0 5px black;
	}
}
