
@use '../_colors' as *;

/* ------------ RANKED AWARDS ----------*/

.ranked {
	width: 12.3vw;
	height: 10.73vw;
	border-radius: 1.3vw;
	fill: none;
}

/* ----------- DROPDOWN MENU ---------- */

/* -------- TCHAT CONVERSATIONS ------- */

.conversations {
	cursor: pointer;

	z-index: 1000;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	text-decoration: none;

	padding: 0.6vw 0.6vw;
	border-radius: 1.7vw;
	color: #fff;
}

.conversations:hover {
	background-color: $color_jet;
}

.conversations_sub_infography {
	display: flex;
	flex-direction: rox;
	align-items: flex-start;
}


.conversations_infography {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.conversations_header {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1vw;
	margin: 1vw 0.52vw;
}

/* ---------- HOME SELECTION ---------- */

@mixin home_selection {
    background-color: rgba(33, 33, 33, 0.8);
    border-radius: 1.3vw;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_selection_random {
    @include home_selection();
    @media screen and (min-width: 769px) {
        width: 28%;
        min-height: 20%;
    }
	@media screen and (max-width: 768px) {

		height: 80px;
		margin-bottom: 25px;

    }
}

.home_selection_invite {
    @include home_selection();
    @media screen and (min-width: 769px) {
        width: 28%;
        min-height: 20%;
    }

	@media screen and (max-width: 768px) {

		height: 80px;
		margin-bottom: 25px;

    }
}

.home_selection_view {
    @include home_selection();
    @media screen and (min-width: 769px) {
        width: 28%;
        min-height: 20%;
    }

	@media screen and (max-width: 768px) {

		height: 80px;
		margin-bottom: 25px;

    }
}

.home_selection_h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-style: bold;
    font-size: 3.33vw;
    text-transform: uppercase;

    background: linear-gradient(90deg, $color_mauve 20.83%, $color_uranian 49.94%, $color_mint 80.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 1;
    max-height: 78px;
}

.home_selection_h3 {
    color: white;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.25vw;

    z-index: 1;
}

/* ----------- PONG RESULTS ----------- */

.results {

	width: 100%;
	height: 100%;
	z-index: 1000;

	position: absolute;
	top: 0%;
	left: 0%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(33, 33, 33, 0.8);
}

.results_confetties {
	width: 100%;
	height: 100%;
	z-index: 500;
}

.results_h1 {
	@include text-color(4rem);

    z-index: 900;
	padding-bottom: 20px;
}

.results_buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.results_button {
	@include generate-button();
}
