/* ----------- COLOR PALETTE -----------*/

@use '../_colors' as *;

.invite {
	width: 480px;
	height: auto;

	border-radius: 20px;
	padding: 20px;
	background-color: $color_widget;

	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;

	@media screen and (max-width: 768px) {
		width: calc(100% - 30px);
    }
}

/* ----------- VIEW CONTENT -----------*/

.invite_header {
	flex: 0 0 100px;
	width: 100%;

	text-align: center;

	h1 {
		font-size: 3rem;
		text-transform: uppercase;
		padding: 20px;

		background: linear-gradient(
			135deg,
			$color_mauve 20.83%,
			$color_uranian 49.94%,
			$color_mint 80.3%
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	p {
		color: #fff;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1rem;
		font-weight: bold;
	}

	@media screen and (max-width: 768px) {
		p { font-size: .9rem;}
    }
}

.invite_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-bottom: 20px;
}

.invite_input {
	display: block;
	width: 300px;
	height: 40px;
	padding: 0 16px;
	margin: 10px 0;

	color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
	text-align: center;

	border: $color_eerie;
	border-radius: 10px;
	outline: none;
	background-color: $color_jet;

	&::placeholder { letter-spacing: 0; text-indent: 0; }
}

.invite_button {
	cursor: pointer;

	background-color: white;
	height: 40px;
	line-height: 40px;
	padding: 0 36px;
	border-radius: 30px;
	border: none;
	outline: none;
	color: $color_aero;
	font-weight: bold;

	transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

	&:hover {
		background-color: $color_aero;
		color: #fff;
	}

	&:active {
		background-color: $color_jet;
		box-shadow: 0 5px black;
	}
}
