/* ----------- COLOR PALETTE -----------*/

@use '../_colors' as *;

.play {
	background-color: $color_widget;

	height: auto;
	width: 590px;
	border-radius: 20px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	z-index: 900;

	@media screen and (max-width: 768px) {
		width: calc(100% - 40px);
    }
}

.play_header {
	width: 100%;
	height: 150px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 { @include text-color(3rem); }
	p { font-size: 1.5rem; }

	@media screen and (max-width: 768px) {
		h1 { font-size: 2.15rem; }
		p { font-size: 1.2rem; }
    }
}

.play_scoreboard {
	width: 75%;
	padding: 20px 0;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.play_scoreboard_score {
	height: 100%;
	width: 40%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.play_scoreboard_left,
.play_scoreboard_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.play_pong {
	position: relative;
	padding-bottom: calc(400 / 600) * 100%;
	height: 0;
	width: 100%;

	border-radius: 15px;
	border: 3px solid;

	background-color: white;
	fill-opacity: 0.5;
	overflow: hidden;

	text-align: center;
	/*display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;*/
}

.play_canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;
}

@keyframes countdown {
	0% {
		opacity: 0;
		font-size: 5rem;
	}
	80% {
		opacity: 1;
		font-size: 15rem;
	}
	100% {
		opacity: 0;
		font-size: 5rem;
	}
}

.play_countdown {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		@include text-color(10rem);
		animation: countdown 1s ease-in-out infinite;
	}

	background: rgba($color_widget, 0.5);
}
